html {
  background: url('/liverpool.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.container {
  margin: 20px auto;
  width: 720px;
  padding: 10px 20px 10px 20px;
  border: 20px solid #777;
  background-color: #DDD;  
  border-radius: 15px;
  text-align: center;
}
th {
  text-align: left;
}

li {
  list-style-type: none;
  display: inline-block;
  padding-right: 20px;
  text-decoration: none;
  font-weight: bold;
  font-family: helvetica;
}
