<h2>Did you see that ludicrous display last night??</h2>

<table>  
  <% @allposts.reverse.each do |post| %>
   <tr>
      <td>
        <a href="<%= post.title %>"><%= post.title %></a>
      </td>

   </tr>  
  <% end %>  
</table>
</div>
